<div class="groove">
  <div class="center">
    <button name="btn1" id="btn1" mat-fab class="btn" (click)="startButton($event) " *ngIf="!recognizing" >
      <span *ngIf="!recognizing">
        <img class="img-width" src="/assets/mic-off.svg">
      </span>
    </button>
    <button name="btn2" id="btn2" mat-fab class="btn2" (click)="startButton($event)" *ngIf="recognizing">
      <span *ngIf="recognizing">
        <img class="img-width" src="/assets/mic.svg">
      </span>
    </button>
  </div>

  <form>
    <mat-form-field  class="Texto" class="center" class="p" >
      <textarea matInput [value]="finalTranscript" placeholder="" rows="10"
        disabled="true" [(ngModel)]="txt" name="txt"></textarea>
    </mat-form-field>
  </form>

  <div class="selectborder">
    <mat-select  placeholder="Select your language" [(ngModel)]="currentLanguage"
      [disabled]="recognizing">
     
      <mat-option class="selectborderlang" *ngFor="let language of languages" [value]="language" (click)="onSelectLanguage(language)">
        {{language}}
      </mat-option>

    </mat-select>
  </div>
</div>

<mat-card *ngIf="notification" class="notification">{{notification}}</mat-card>