<div class="groove">
  <div class="center">
    <button mat-fab class="btn" (click)="myFunction($event)">
      <span *ngIf="!recognizing">
        <img class="img-width" src="/assets/mic-off.svg">
      </span>

      <span *ngIf="recognizing">
        <img class="img-width" src="/assets/mic.svg">
      </span>
    </button>
  </div>

  <form>
    <mat-form-field  class="Texto" class="center" class="p" >
      <textarea matInput [value]="finalTranscript" placeholder="" rows="10"
        disabled="true" [(ngModel)]="txt" name="txt"></textarea>
    </mat-form-field>
  </form>
  <div>
    <button class="myButton" (click)="reset()">Clean</button>
  </div>
  <div class="selectborder">
    <mat-select  placeholder="Select your language" [(ngModel)]="currentLanguage"
      [disabled]="recognizing">
     
      <mat-option class="selectborderlang" *ngFor="let language of languages" [value]="language" (click)="onSelectLanguage(language)">
        {{language}}
      </mat-option>

    </mat-select>
  </div>
</div>

<mat-card *ngIf="notification" class="notification">{{notification}}</mat-card>