.speech-result-width {
    width: 90%;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .center {
    padding: 10px;
    text-align: center;
  }
  
  .mat-input-element:disabled {
    color: rgba(0,0,0,.9);
  }
  
  .notification {
    margin-left: 20px;
    margin-right: 20px;
  }
  
  div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }

  .btn {
    background-color: rgb(238, 58, 58);
    
  }

  .micro {
    background-image: url("/assets/mic.svg") ;
    width: 25px;
    height: 25px;
  }

  .img-width{
    width:25px;
  }